:root {
    /* clean light */
    --bg1: #F3F4F6;
    --card-bg1: #ffffff;
    --name1: #111827;
    --text1: #6b7280;
    --btn-bg1: #2563EB;
    --btn-text1: #ffffff;
    --shadow1: rgba(0, 0, 0, 0.1);


    /* Dark Modern */
    --bg2: #0F172A;
    --card-bg2: #1E293B;
    --name2: #F8FAFC;
    --text2: #94A3B8;
    --btn-bg2: #3B82F6;
    --btn-text: #FFFFFF;
    --shadow2: rgba(0, 0, 0, 0.5);

    /* soft minimal */
    --bg3: #ECFEFF;
    --card-bg3: #FFFFFF;
    --name3: #0F172A;
    --text3: #475569;
    --btn-bg3: #14B8A6;
    --btn-text3: #FFFFFF;
    --shadow3: rgba(15, 23, 42, 0.15);


    /* font size */
    --fs1: 24px;
    --fs2: 14px;


    /* font weight */
    --fw6: 600;
    --fw5: 500;
    --fw4: 400;

}

body {
    min-height: 100vh;
    margin: 0;
    background: var(--bg1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: var(--card-bg1);
    width: 300px;
    box-shadow: 0px 10px 20px var(--shadow1);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    box-shadow: 0.3s ease;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 20px 40px var(--shadow1);
}

.pfp-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card:hover .pfp-img img {
    transform: scale(1.1);
}

.pfp-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid var(--text1);
    overflow: hidden;
    flex-shrink: 0;
}

h1 {
    color: var(--name1);
    font-size: 32px;
    font-weight: var(--fw5);
    font-family: 'Alex Brush', cursive;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main h1 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.role {
    background: var(--text1);
    padding: 2px 5px;
    border-radius: 6px;
    font-size: var(--fs2);
    margin-top: 0px;
    color: #F8FAFC;
}

.bio {
    font-size: var(--fs2);
    margin-top: 2px !important;
    line-height: 1.5;
}

.footer {
    background: var(--btn-bg2);
    width: calc(100% + 40px);
    padding: 12px 0px;
    margin: 0px -20px -20px -20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    border-radius: 12px;
    font-size: var(--fs2);
    font-weight: var(--fw6);
    text-decoration: none;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 1.2;
    min-width: 110px;
    outline: 1px solid var(--card-bg2);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button.btn {
    background-color: #14B8A6;
    color: #F8FAFC;
}

a.btn {
    background: transparent;
    color: #F8FAFC;
}

button.btn:hover {
    background: #0d9488;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}

a.btn:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: scale(0.95) !important;
    transition: 0.1s ease;
}