:root {
    /* clean */
    --page-bg-1: #F3F4F6;
    --card-bg-1: #FFFFFF;
    --title-color-1: #111827;
    --text-color-1: #6B7280;
    --button-bg-1: #2563EB;
    --button-text-color-1: #FFFFFF;
    --card-border-1: #E5E7EB;
    --button-border-1: #747e72;
    --shadow-color-1: rgba(0, 0, 0, 0.08);
    --footer-color: #525252;


    /* dark */
    --page-bg-2: #020617;
    --card-bg-2: #1E293B;
    --title-color-2: #F8FAFC;
    --text-color-2: #94A3B8;
    --button-bg-2: #38BDF8;
    --button-text-color-2: #020617;
    --card-border-2: #334155;
    --button-border-2: #38BDF8;
    --shadow-color-2: rgba(0, 0, 0, 0.6);

    /* soft */
    --page-bg-3: #ECFEFF;
    --card-bg-3: #FFFFFF;
    --title-color-3: #0F172A;
    --text-color-3: #475569;
    --button-bg-3: #14B8A6;
    --button-text-color-3: #FFFFFF;
    --card-border-3: #CCFBF1;
    --button-border-3: #14B8A6;
    --shadow-color-3: rgba(15, 23, 42, 0.1);

    /* font size */
    --fs1: 2rem;
    --fs2: 1.5rem;
    --fs3: 1.25rem;
    --fs4: 1rem;

    /* font weight */
    --fw1: 700;
    --fw2: 600;
    --fw3: 500;
    --fw4: 400;

}

body {
    min-height: 100vh;
    margin: 0;
}

.service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 50px 20px;
    color: var(--page-bg-1);
}

.card {
    color: var(--card-bg-1);
    width: 300px;
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 10px 20px var(--shadow-color-1);
    border-radius: 12px;
    border: 1px solid var(--card-border-1);
    height: auto;
    justify-content: flex-start;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    flex: 0 1 320px;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 40px var(--shadow-color-1);
}

.card:hover .srvc-img img {
    transform: scale(1.1);
}

.srvc-img {
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
    transition: transform 0.4s ease;
}

.main {
    flex-grow: 1;
}

.main h2 {
    color: var(--text-color-1);
    font-size: var(--fs2);
    font-weight: var(--fw1);
    margin: 15px 0 10px 0;
}

.main p {
    color: var(--text-color-1);
    justify-content: center;
    line-height: 1.4;
}

.foot {
    padding: 10px 0;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    background-color: var(--footer-color);
    margin: auto -20px -20px -20px;
    border-radius: 0 0 12px 12px;
}

a {
    text-decoration: none;
    outline: 1px solid var(--button-border-1);
    padding: 6px;
    background-color: var(--button-bg-1);
    border-radius: 8px;
    color: var(--button-text-color-1);
    transition: 0.3s ease;

}

a:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(78, 78, 78, 0.2);
}

a:active {
    transform: scale(0.95) !important;
    transition: 0.1s ease;
}